require File.expand_path(File.dirname(__FILE__) + "/../spec_helper")
require '!-FILENAME-!/!-FILENAME-!'

describe !-CLASSNAME-!::!-CLASSNAME-! do

  it "should be instantiable with no paramters" do

    lambda { !-CLASSNAME-!::!-CLASSNAME-!.new }.should_not raise_error

  end

end